//=============================================================//
//                 BUTTONS - WEB
//=============================================================//

a {
  text-decoration: none;
  color: $orange;
}

.spinner.spinner-main {
  position: absolute;
  top: 50%;
  text-align: center;
}
